In [16]:
import pandas as pd 
import os

In [17]:
files = [arff for arff in os.listdir('../dataset/') if arff.endswith(".arff")]
print(files)

['PONZI_basic_100000.arff', 'PONZI_100000.arff', 'PONZI_opcodes_100000.arff']

In [18]:
from arff2pandas import a2p

with open('../dataset/PONZI_100000.arff') as f:
    df = a2p.load(f)
df.head()

,"ponzi@{ponzi,non_ponzi}",nbr_tx_in@NUMERIC,nbr_tx_out@NUMERIC,Tot_in@NUMERIC,Tot_out@NUMERIC,num_paid_in_addr@NUMERIC,num_paid_out_addr@NUMERIC,overlap_in_out_addr@NUMERIC,mean_in@NUMERIC,mean_out@NUMERIC,...,DUP16@NUMERIC,JUMPI@NUMERIC,SSTORE@NUMERIC,PUSH@NUMERIC,LOG3@NUMERIC,LOG4@NUMERIC,Missing@NUMERIC,SWAP15@NUMERIC,DUP1&2@NUMERIC,size_info@NUMERIC
0,ponzi,29.0,0.0,3.400000e+19,0.000000e+00,29.0,0.0,0.0,1.172414e+18,0.000000e+00,...,0.0,0.036675,0.022616,0.262836,0.0,0.0,0.0,0.0,0.202934,7016.0
1,ponzi,18.0,24.0,1.345390e+20,1.345179e+20,18.0,24.0,4.0,7.474389e+18,5.604911e+18,...,0.0,0.046563,0.026608,0.272727,0.0,0.0,0.0,0.0,0.190687,2174.0
2,ponzi,205.0,1.0,7.100000e+16,2.100000e+16,205.0,1.0,1.0,3.463415e+14,2.100000e+16,...,0.0,0.055402,0.026316,0.278393,0.0,0.0,0.0,0.0,0.227147,3204.0
3,ponzi,1.0,0.0,0.000000e+00,0.000000e+00,1.0,0.0,0.0,0.000000e+00,0.000000e+00,...,0.0,0.060847,0.026455,0.267196,0.0,0.0,0.0,0.0,0.235450,1900.0
4,ponzi,6.0,2.0,2.500000e+17,1.650000e+17,6.0,2.0,1.0,4.166667e+16,8.250000e+16,...,0.0,0.050239,0.023923,0.275120,0.0,0.0,0.0,0.0,0.200957,2070.0

In [20]:
y = df.iloc[:, 0]
x = df.iloc[:, 1:]

In [21]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(2674, 67) (2674,)
(669, 67) (669,)